In [1]:
import numpy as np
import pandas as pd

In [32]:
df_c = pd.read_csv("_hbacf_continuous/124_2LiI_hbacf_h.csv", names= ["time","c"])
df_c

          time         c
0     0.000000  0.994891
1     0.100000  0.920550
2     0.200000  0.896415
3     0.300000  0.879415
4     0.400000  0.865322
..         ...       ...
155  15.500000  0.076456
156  15.600000  0.074165
157  15.700000  0.071787
158  15.800000  0.069321
159  15.900001  0.066943

[160 rows x 2 columns]

In [33]:
df_rf_in_and_n = pd.read_csv("__hb_reaction_flux/124_2LiI_rfhb_in_h--n.csv", names= ["time","rf_in","n"])
df_n = df_rf_in_and_n.n
df_n

0      0.018904
1      0.018363
2      0.018057
3      0.017859
4      0.017700
         ...
155    0.005543
156    0.005397
157    0.005237
158    0.005107
159    0.004963
Name: n, Length: 160, dtype: float64

In [38]:
df_rf = pd.read_csv("__hbrf/124_2LiI_rfachb_h_17.csv", names= ["time","rf"])
df_3 = df_rf.rf

In [41]:
df_data = pd.concat([df_c, df_3,df_n],axis=1 )
df_data

          time         c        rf         n
0     0.000000  0.994891  0.242483  0.018904
1     0.100000  0.920550  0.053467  0.018363
2     0.200000  0.896415  0.021417  0.018057
3     0.300000  0.879415  0.027983  0.017859
4     0.400000  0.865322  0.020160  0.017700
..         ...       ...       ...       ...
155  15.500000  0.076456  0.012422  0.005543
156  15.600000  0.074165  0.013580  0.005397
157  15.700000  0.071787  0.014344  0.005237
158  15.800000  0.069321  0.005966  0.005107
159  15.900001  0.066943  0.018805  0.004963

[160 rows x 4 columns]

In [45]:
delta = 0.01
c = df_data.c
n = df_data.n
rf = df_data.rf
delta2 =[]
para = []
for m1 in range(100):
    k=delta*m1
    for m2 in range(100):
        k_prime=delta*m2
        rf_temp = k*c - k_prime * n
        delta2.append(np.sum((rf_temp - rf)**2))
        para.append((k,k_prime))